<%- include("partials/header"); -%>
<h1>Compose</h1>

<form class="" action="/" method="post">
  <h5>Title</h5>
  <input type="text" class="form-control" name="blogTitle" placeholder="Title of the Blog">
  <h5>Body</h5>
  <textarea name="blogBody" class="form-control" rows="8" placeholder="Body of the blog"></textarea><br />
  <button type="submit" class="btn btn-primary btn-lg" name="button">Publish</button>
</form>
<%- include("partials/footer"); -%>
